@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{    
}

@model List<Accident>



<div class="flex-body">


    <!--Sidebar-->
    <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672b5" class="nav-container">
        <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672b6" class="nav-handle open">
            <div style="-webkit-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="handle top"></div>
            <div style="-webkit-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="handle bottom"></div>
        </div>
        <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672b9" class="nav-handle closed">
            <div style="-webkit-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, 2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="handle top"></div>
            <div style="-webkit-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, -2PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="handle bottom"></div>
        </div>
        <div class="nav-header brand-blue">
            <div class="nav-head-inner">
                <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672be" class="nav-header-content">
                    <div class="logo-left"><img src="../images/r-logo.svg" height="32" alt="" class="nav-logo"></div>
                    <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672c1" class="nav-header-text">
                        <div class="nav-head-company">Crash Utah</div>
                        <div class="nav-head-domain">crashutah.com</div>
                    </div>
                    <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672c6" class="nav-click"></div>
                </div>
            </div>
        </div>
        <div class="nav-items">
            <a href="index.html" class="nav-item w-inline-block">
                <div class="nav-item-icon">
                    <div class="icon"></div>
                </div>
                <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672cc" class="nav-label">Dashboard</div>
            </a>
            <a href="#" class="nav-item w-inline-block">
                <div class="nav-item-icon">
                    <div class="icon"><strong></strong></div>
                </div>
                <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672d3" class="nav-label">Crash Data</div>
            </a>
            <a href="#" class="nav-item w-inline-block">
                <div class="nav-item-icon">
                    <div class="icon"><strong></strong></div>
                </div>
                <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672da" class="nav-label">Analysis</div>
            </a>
            <a href="#" class="nav-item w-inline-block">
                <div class="nav-item-icon">
                    <div class="icon"><strong></strong></div>
                </div>
                <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672e1" class="nav-label">Settings</div>
            </a>
        </div>
        <div class="nav-footer-extra">
            <div class="nav-item separator"></div>
            <a asp-controller="Home" class="nav-item bottom-item-inner dark-text w-inline-block">
                @*<div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672e6" class="nav-item-icon user-bg">
                    <div class="user-icon"><strong class="bold-text">M</strong></div>
                </div>*@
                <div ms-data="first-name" data-w-id="f8490152-5ae2-0a4c-a947-8d25251672ea" class="nav-label">Log In</div>
                @*<div class="menu-dots">
                    <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672ed" class="icon nav-foot-icon"></div>
                </div>*@
            </a>
        </div>
    </div>
    <div data-w-id="f8490152-5ae2-0a4c-a947-8d25251672ef" class="nav-back"></div>

    <!--Main Page-->
    <div class="main-block">

        @using (Html.BeginForm("Data", "Home", FormMethod.Get))
        {
            @Html.TextBox("search") <input type="submit" value="Search" />
        }

        <div class="table-wrapper card-shadow">
            <div class="table-row header">
                <div class="table-heading">Crash ID</div>
                <div class="table-heading">Date</div>
                <div class="table-heading">City</div>
                <div class="table-heading">County</div>
                <div class="table-heading">Crash Severity</div>
                <div class="table-heading">Actions</div>
            </div>
            <div class="table-container">
                <div class="table-data-wrapper">
                    <div class="scroll-container">
                        <div class="scroll-table-content">

                            @foreach (var a in Model.Take(50))
                            {
                                <div class="table-row">
                                    <div class="table-box">
                                        <div fs-cmssort-field="name" class="table-data name">@a.crash_id</div>
                                    </div>
                                    <div class="table-data">Date Here</div>
                                    <div class="table-data">@a.city</div>
                                    <div fs-cmsfilter-type="date" fs-cmsfilter-field="date" class="table-data date">@a.county_name</div>
                                    <div fs-cmsfilter-type="date" fs-cmsfilter-field="date" class="table-data date">@a.crash_severity_id</div>
                                    <div class="div-block-421">
                                        <a asp-action="Crash" asp-controller="Home" asp-route-id="@a.crash_id" class="button-secondary-icon-copy w-button"><span class="btn-icon">More Details</span></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>